<div class="row">
    <div class="col-md-4">
        <h3> {{ nombre | uppercase}} </h3>
        <h5> {{ contacto }}</h5>
        <hr>
        <div class="text-center">
            <i class="fa fa-7x fa-laptop"></i>
        </div>
    </div>
    <!--<div class="col-md-4">
        <table class="table table-responsive table-condensed">
            <tr>
                <th *ngFor="let label of lineChartLabels">{{ label }}</th>
            </tr>
            <tr *ngFor="let d of lineChartData">
                <td *ngFor="let label of lineChartLabels; let j=index">{{ d.data[j] }}</td>
            </tr>
        </table>
    </div>-->
    <div class="col-md-8">
        <div style="display: block;">
            <canvas baseChart [datasets]="lineChartData" [labels]="lineChartLabels" [options]="lineChartOptions" [colors]="lineChartColors" [legend]="lineChartLegend" [chartType]="lineChartType"></canvas>
        </div>
    </div>
</div>
<hr>
<div class="row" style="padding: 10px;">
    <div class="col-md-4">
        <h3> {{ nombre2 | uppercase}} </h3>
        <h5> {{ contacto2 }}</h5>
        <hr>
        <div class="text-center">
            <i class="fa fa-7x fa-laptop"></i>
        </div>
    </div>
    <div class="col-md-8">
        <div style="display: block;">
            <canvas baseChart [datasets]="lineChartData" [labels]="lineChartLabels" [options]="lineChartOptions" [colors]="lineChartColors" [legend]="lineChartLegend" [chartType]="lineChartType"></canvas>
        </div>
    </div>
</div>
<hr>
<div class="row" style="padding: 10px;">
    <div class="col-md-4">
        <h3> {{ nombre3 | uppercase}} </h3>
        <h5> {{ contacto3 }}</h5>
        <hr>
        <div class="text-center">
            <i class="fa fa-7x fa-desktop"></i>
        </div>
    </div>
    <div class="col-md-8">
        <div style="display: block;">
            <canvas baseChart [datasets]="lineChartData" [labels]="lineChartLabels" [options]="lineChartOptions" [colors]="lineChartColors" [legend]="lineChartLegend" [chartType]="lineChartType"></canvas>
        </div>
    </div>
</div>